<p>Hi,</p>
<p>You started creating <strong><%= @workspace_name %></strong> on Vopro.</p>
<p><a href="<%= @verify_url %>">Verify your email and domain</a> (this link expires in 24 hours).</p>
<p>If you didn’t request this, you can ignore this email.</p>
